#loadingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 100;
    width: 100%;
    height: 100%;
    color: white;
    font-family: cursive;
    font-size: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 1fr;
}

#title {
    text-shadow: 0 0 30px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    translate: 0 10%;
}

.svgContainer {
    position: relative;
    margin: auto;
    width: 100%;
    height: 250px;
}

.svgContainer > svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

svg:first-child {
    --_hue: 0;
    translate: -50% -50%;
    transform: scale(120%);
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.5));
}

svg:last-child {
    --_hue: 45;
    translate: -15% -35%;
    rotate: 90deg;
    transform: scale(90%);
    filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.5));
}

#loadingText {
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 25px;
    width: 200px;
    grid-column: 1fr;
    margin: auto;
    text-align: center;
    font-size: 0.7em;
    translate: 0 -50%;
}

#loadingText::after {
    content: "...";
    color: white;
    /* animation: loading 2s linear infinite alternate; */
}

#play {
    font-size: 40px;
    color: white;
    font-family: cursive;
    background-color: transparent;
    width: fit-content;
    padding: 15px 50px;
    margin: auto;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    animation: scale 500ms ease-in-out;
    display: none;
    transition: background-color 250ms;
    text-shadow: 0 0 5px black;
    translate: 0 -50%;
}

#play:hover {
    background-color: rgba(53, 53, 53, 0.25);
}

@keyframes scale {
    from {
        scale: 0.5;
    }
    to {
        scale: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

@keyframes loading {
    0% {
        content: "";
    }
    20% {
        content: ".";
    }
    40% {
        content: "..";
    }
    60% {
        content: "...";
    }
    80% {
        content: "....";
    }
    100% {
        content: ".....";
    }
}

@media (width < 500px) {
    #loadingScreen  * {
        font-family: Arial, Helvetica, sans-serif;
    }

    #title {
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }

    svg:first-child {
        transform: scale(90%);
    }

    svg:last-child {
        translate: -20% -35%;
        transform: scale(65%);
    }

    #loadingText {
        font-size: 0.6em;
    }

    #loadingText::after {
        content: "";
    }

    #play {
        font-size: 0.6em;
    }
}